<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%thread] %class{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.mmatczuk.ablb" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>